<?xml version="1.0"?>
<config>
    <modules>
        <Medma_AttributeCustomize>
            <version>2.0.2</version>
        </Medma_AttributeCustomize>
    </modules>
    <global>
        <models>
            <attributecustomize>
                <class>Medma_AttributeCustomize_Model</class>
            </attributecustomize>
            <catalog>
				<rewrite>
					<layer_filter_attribute>Medma_AttributeCustomize_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <attributecustomize_setup>
                <setup>
                    <module>Medma_AttributeCustomize</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attributecustomize_setup>
            <attributecustomize_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </attributecustomize_write>
            <attributecustomize_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </attributecustomize_read>
        </resources>
        <helpers>
            <attributecustomize>
                <class>Medma_AttributeCustomize_Helper</class>
            </attributecustomize>
        </helpers>
        <blocks>
			<adminhtml>
                <rewrite>
					<catalog_product_attribute_edit_tab_main>Medma_AttributeCustomize_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Main</catalog_product_attribute_edit_tab_main>
                </rewrite>
            </adminhtml>
            <attributecustomize>
				<class>Medma_AttributeCustomize_Block</class>
			</attributecustomize>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Medma_AttributeCustomize before="Mage_Adminhtml">Medma_AttributeCustomize_Adminhtml</Medma_AttributeCustomize>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
